# Get UK Pubs from Wikipedia

In [ ]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [ ]:
!pip install urllib3

Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (1.24.3)

In [ ]:
!pip install wikipedia

Collecting wikipedia
  Downloading https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (4.6.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2020.12.5)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-cp36-none-any.whl size=11686 sha256=f76e6a3ec7a686f9e0f4c286d47b708c9046e8aa23a725f411f137c418c4e482
  Stored in directory: /root/.cache/pip/wheels/87/2a/18/4e471fd96d12114d16fe4a446d00c3b38fb9efcb744bd31f4a
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
website_url = requests.get("https://en.wikipedia.org/wiki/List_of_pubs_in_the_United_Kingdom").text

In [ ]:
soup = BeautifulSoup(website_url,"lxml")

In [ ]:
list_elements = []
for tag in soup.find_all("li")[18:]:
    list_elements.append("{0}: {1}".format(tag.name, tag.text))

# remove elements that contain ^ 
list_elements = [ x for x in list_elements if "^" not in x]

# remove 'li: ' at start
list_elements = [s.replace('li: ', '') for s in list_elements]

# remove everything  and including "Pub names"
target_index = list_elements.index('Pub names')
list_elements = list_elements[:target_index]

# remove anyting containing 'See Category:' and "United Kingdom portal"
unwanted = ['United Kingdom portal']
list_elements = [x for x in list_elements if x not in unwanted]
list_elements = [ x for x in list_elements if "See Category" not in x]

# split each row on a comma and get the text before the first comma
sep = ","
list_elements = [s.split(sep, 1)[0] for s in list_elements]

# split each row on "is a" and get everything before "is a"
sep = " is a "
list_elements = [s.split(sep, 1)[0] for s in list_elements]

# split each row on "was built" and get everything before "was built"
sep = " was built "
list_elements = [s.split(sep, 1)[0] for s in list_elements]

# split each row on "on the corner of" and get everything before "on the corner of"
sep = " on the corner of "
list_elements = [s.split(sep, 1)[0] for s in list_elements]

# split each row on "(" and get everything before "("
sep = "("
list_elements = [s.split(sep, 1)[0] for s in list_elements]

# split each row on "." and get everything before "."
sep = "."
list_elements = [s.split(sep, 1)[0] for s in list_elements]

# split each row on " is " and get everything before " is "
sep = " is "
list_elements = [s.split(sep, 1)[0] for s in list_elements]

# split each row on " may " and get everything before " may "
sep = " may "
list_elements = [s.split(sep, 1)[0] for s in list_elements]

# split each row on ";" and get everything before ";"
sep = ";"
list_elements = [s.split(sep, 1)[0] for s in list_elements]

# split each row on "owned" and get everything before "owned"
sep = "owned"
list_elements = [s.split(sep, 1)[0] for s in list_elements]

# split each row on "opposite" and get everything before "opposite"
sep = "opposite"
list_elements = [s.split(sep, 1)[0] for s in list_elements]

list_elements

['The Adam and Eve',
 'The Berney Arms in Norfolk',
 'The Eagle in Benet Street',
 'The Nutshell',
 'Ye Olde Trip to Jerusalem in Nottingham',
 'Ye Olde Salutation Inn in Nottingham',
 'The Bell Inn in Nottingham',
 'Ram Jam Inn',
 'The Alchemist',
 'The Angel',
 'The Blind Beggar',
 'The Britannia',
 "The Bull's Head",
 'The Carlton Tavern in Kilburn',
 "Crocker's Folly",
 'De Hems',
 "Dirty Dick's",
 'The Dove',
 'The Drayton Court in Ealing',
 'The Feathers',
 'The Finborough Arms',
 'Fitzroy Tavern',
 'The George Inn',
 'The Grapes',
 'The Grapes',
 'The Grenadier',
 'The Hare and Hounds',
 "King's Head",
 'The Lamb',
 'The Magdala Tavern',
 'The Old Queens Head',
 'The Old Ship',
 'The Princess Louise',
 'The Prospect of Whitby',
 'The Red Lion',
 'The Sherlock Holmes',
 'Spaniards Inn',
 'Sun in the Sands',
 'The Sun Inn',
 'The White Cross',
 'The White Hart',
 'The Winchester in Highgate',
 'Ye Olde Cheshire Cheese in Fleet Street',
 'Marsden Grotto',
 "The Fisher's Arms",
 'The White Lion Inn',
 'The Philharmonic Dining Rooms',
 'The Scotch Piper',
 'The Cat and Fiddle Inn in Cheshire',
 'Ye Olde Man and Scythe',
 'The Moon Under Water',
 'The Old Wellington Inn',
 'Boot Inn',
 'Bear and Billet',
 "Old King's Head Hotel",
 'Old Custom House Inn',
 'The Falcon',
 'Town Crier public house',
 "Telford's Warehouse",
 "Bear's Paw Hotel",
 'Old Hall Hotel',
 "The King's Head",
 'The Stag Inn',
 'The Hand & Flowers in Marlow',
 'The John Brunt V',
 'The Seven Stars Inn',
 'Ye Olde Fighting Cocks',
 'Jamaica Inn in Bolventor',
 'The Warren House Inn',
 'Luttrell Arms',
 "George Hotel and Pilgrims' Inn",
 'The Queens Hall Minehead',
 'The George Inn',
 'Tudor Tavern',
 'The Black Castle Public House in the Brislington area of the city',
 'The Coronation Tap',
 'The Crown',
 'The Hatchet on Frogmore Street',
 'The King William Ale House and The Famous Royal Navy Volunteer Public House on King Street',
 'The Llandoger Trow on King Street',
 'The Mauretania ',
 'The Nova Scotia',
 'The Old Duke on King Street ',
 'The Old Post Office',
 'The Palace Hotel',
 'The Printers Devil',
 'The Pump House in the Hotwells district',
 'The Seven Stars on St',
 'The Shakespeare on Prince Street',
 'The Shakespeare Inn on Victoria Street',
 'The Stag & Hounds',
 'The Victoria also in the suburb of Clifton',
 'The Bat & Ball Inn',
 'The Bell Inn at Aldworth in Berkshire',
 'The Trout Inn',
 'The Bear Inn',
 "The Eagle and Child on St Giles' in Oxford ",
 'The Lamb & Flag',
 'The Turf Tavern',
 'The Red Lion Inn',
 'The Adam & Eve',
 'The Crooked House ',
 'The Dirty Duck in Stratford-upon-Avon',
 'The Garrick Inn',
 'The Old Crown in Deritend',
 'The Lad in the Lane in Erdington',
 'The Bingley Arms',
 'The Kelham Island Tavern',
 'The New Penny',
 "The Old Queen's Head",
 'The Tan Hill Inn in Yorkshire',
 'Abbey Hotel',
 'Albion Ale House',
 'The Blue Anchor Inn',
 'Golden Cross',
 'The Robin Hood Inn',
 'The Vulcan',
 'Ye Olde Murenger House',
 'Black Boy Inn',
 'The Griffin']

In [ ]:
# strip leading/trailing white space from the company names
list_elements = [s.strip() for s in list_elements]

pubs = list_elements
print("Number of pubs:", len(pubs), "\n")
pubs = pd.DataFrame(pubs)
pubs.columns = ["pub"]
pubs.to_csv('pubs.csv')
pubs

Number of pubs: 120

                                         pub
0                           The Adam and Eve
1                 The Berney Arms in Norfolk
2                  The Eagle in Benet Street
3                               The Nutshell
4    Ye Olde Trip to Jerusalem in Nottingham
..                                       ...
115                       The Robin Hood Inn
116                               The Vulcan
117                   Ye Olde Murenger House
118                            Black Boy Inn
119                              The Griffin

[120 rows x 1 columns]